*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.grid-container{
    display: grid;
    background-color: red;
    height: 100vh;
    width: 100vw;
    grid-template-columns: auto auto auto  auto auto auto;
    grid-template-rows: auto auto auto auto;
}
.grid-items{
    border: 10px solid;
    /* color: aqua; */
    background-image: linear-gradient(45deg, #fedcad,#fb7eb3);
    /* grid-template-columns: ; */
    display: grid;
    align-content: center;
    justify-content: center;
    
}
.grid-items:nth-child(2){
    background-image:linear-gradient(45deg, #cfa8fb,#fb7ef6);
    grid-column: 2/5;
    grid-row: 1/3;
}
.grid-items:nth-child(8){
    background-image:linear-gradient(45deg, #cfa8fb,#fb7ef6);
    grid-column: 3/5;
    grid-row: 3/5;
}
.grid-items:nth-child(3), .grid-items:nth-child(5){
    background-color: #74d1f1;
    grid-column: 5/7;
}
.diamond{
    height: 20px;
    width: 20px;
    border: 10px solid white;
    transform: rotate(45deg)
    
}
   